---
---

@import "{{ site.theme }}";
header.inner {
    background-image: url(/assets/images/no6-3.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}